@{
    ViewData["Title"] = "Home Page";
}



<div class="badge text-center">
    <h6>Administration tools.</h6>
    
        <a class="nav-link text-dark rounded" asp-area="" asp-controller="Account" asp-action="Register">Register new user !</a>
   
</div>
