@{
    ViewData["Title"] = "Home Page";
}



    <div class="badge text-center">
        <h6>Administration tools.</h6>

        <a class="nav-link text-dark rounded" asp-area="" asp-controller="Account" asp-action="Register">Register new user !</a>

        <a class="nav-link text-dark rounded" asp-area="" asp-controller="Arenas" asp-action="Index">Go to Arenas !</a>

        <a class="nav-link text-dark rounded" asp-area="" asp-controller="People" asp-action="Index">Go to People !</a>

        <a class="nav-link text-dark rounded" asp-area="" asp-controller="Sports" asp-action="Index">Go to Sports !</a>

        <h6>Testing tools.</h6>
        <a class="nav-link text-dark rounded" asp-area="" asp-controller="DustTests" asp-action="IndexSearch">Go to DAST tests !</a>

        <h6>Reporting tools.</h6>
        <a class="nav-link text-dark rounded" asp-area="" asp-controller="Workouts" asp-action="IndexSearch">Go to Workouts !</a>

    </div>


